.jumbotron {
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
	margin-bottom: 0px;
    text-align: center;
    background-color: #26466d46;
}

.jumbotron h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 65px;
    font-weight: 600;
    color: blanchedalmond;
}

.jumbotron p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    color: blanchedalmond;
}